<div class="p-10">
  <div class="flex gap-x-2">
    <a routerLink="challenge-1" routerLinkActive="active">1</a>
    <a routerLink="challenge-2" routerLinkActive="active">2</a>
    <a routerLink="challenge-3" routerLinkActive="active">3</a>
    <a routerLink="challenge-4" routerLinkActive="active">4</a>
    <a routerLink="challenge-5" routerLinkActive="active">5</a>
    <a routerLink="expander" routerLinkActive="active">Expander</a>
    <a routerLink="autosave" routerLinkActive="active">Autosave</a>
  </div>

  <div class="py-5">
    <router-outlet/>
  </div>
</div>
