/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-bold py-2 px-4 rounded bg-gray-200;

  &.active {
    @apply bg-gray-300;
  }
}


button, [type=button] {
  @apply font-bold py-2 px-4 rounded bg-indigo-600 text-white;
}

input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full;

  &:focus {
    @apply ring-blue-500 border-blue-500 block;
  }
}

p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid rebeccapurple;
}

.trigger {
  position: absolute;
  background: red;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  display: block;
  border: 2px solid red;
}

